@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* 2) importa o Tailwind v4 */
@import "tailwindcss";

/* 3) define a família padrão do tema */
@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
               "Segoe UI Emoji";
}

